@font-face {
  font-family: "Aldine721BT";
  src: url("fonts/Aldine 721 BT 400.ttf") format("truetype"); /* Correct format for .ttf */
  font-weight: normal;
  font-style: normal;
}

/* Apply the font */
body {
  font-family: "Aldine721BT", serif; /* Fallback to serif if the font fails to load */
  color: white;
  text-shadow: 
    -1px -1px 0 black, /* Top-left shadow */
    1px -1px 0 black,  /* Top-right shadow */
    -1px 1px 0 black,  /* Bottom-left shadow */
    1px 1px 0 black;   /* Bottom-right shadow */
    font-weight: 100;
}

button {
  font-family: "Aldine721BT", serif; /* Fallback to serif if the font fails to load */
  color: white;
  text-shadow: 
    -1px -1px 0 black, /* Top-left shadow */
    1px -1px 0 black,  /* Top-right shadow */
    -1px 1px 0 black,  /* Bottom-left shadow */
    1px 1px 0 black;   /* Bottom-right shadow */
    font-weight: 100;
}


p {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content/Box */
.add-item-modal {
    background-color: rgba(42, 36, 36, 1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid rgb(205, 187, 187) 3px;
    border-radius: 3px;
    height: 250px;
    min-width: 550px;
    width: 40%; /* Could be more or less, depending on screen size */
    display: grid;
    grid-template-columns: 10px 210px 15px 1fr 5px 80px 10px;
    grid-template-rows: 10px 1fr 1fr 1fr 30px 10px;
    grid-template-areas:
    '. . . . . . .'
    '. itemImage . itemName itemName itemName .'
    '. itemImage . itemClass itemClass itemClass .'
    '. itemImage . itemDescription itemDescription itemDescription .'
    '. . . . . saveItem .'
    '. . . . . . .';


  }

  .hidden {
    display: none !important;
  }

#addItemImage {
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.add-item-image {
  grid-area: itemImage;
  display: flex;
  align-items: end;
  border: solid rgb(205, 187, 187) 3px;
  justify-self: center;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.add-item-image:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

.add-name-div {
  grid-area: itemName;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 90%;
  height: 100%;
}

.add-class-div {
  grid-area: itemClass;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.add-desc-div {
  grid-area: itemDescription;
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

#saveItem {
  grid-area: saveItem;
}

.black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: rgba(0,0,0,0.5);
}

.initialize-menu {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3%;
  background-color: rgba(42, 36, 36, 1);
  border: solid black 5px;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Could be more or less, depending on screen size */
  min-width: 500px;
  min-height: fit-content;
  height: 40vh;
}

#newCharacterHeader {
  margin-top: -1.5%;
  margin-bottom: 1.5%;
}

#orLabel {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.new-file-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid black 3px;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  min-height: fit-content;
  padding: 10px;
}

#jsonInput {
  display: none;
}

#jsonInput + label {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  border: solid rgb(205, 187, 187) 3px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

#jsonInput + label:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

.initialize-submit {
  display: none;
}

.initialize-submit + label {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  border: solid rgb(205, 187, 187) 3px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.initialize-submit + label:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

.container-label {
  height: auto;
  width: 300px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url(bg2.webp);
  background-size: cover;
  background-position: 30% ;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  overflow-y: hidden;
}

.menu-container {
  justify-content: center;
  height: fit-content;
}

.confirm-remove {
  position: relative;
  top: 100%;
}

.character-info {
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 3fr 2.5fr 150px;
  grid-template-areas: 
  'name remaininggrid additem'
  'strength remaininggrid removeitem';
  gap: 5px;
  background-image: url("pager2.jpeg");
  background-repeat: repeat-y;
  background-size: 100% auto;
  position: relative;
  height: auto;
  min-height: 110px;
  width: 70vw;
  border: 5px solid black;
  padding: 10px;
}

.character-name-div {
  grid-area: name;
  border: solid rgb(205, 187, 187) 3px;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  align-content: center;
  padding-left: 1%;
  padding-right: 1%;
  min-width: fit-content;
}

.strength-modifier-div {
  grid-area: strength;
  border: solid rgb(205, 187, 187) 3px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 3px;
  align-content: center;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  font-size: larger;
  min-width: fit-content;
}

.remaining-label-div {
  grid-area: remaininggrid;
  display: flex;
  flex-direction: row;
  background-color: rgba(0,0,0,0.8);
  border: solid rgb(205, 187, 187) 3px;
  min-width: fit-content;
  justify-content: center;
  gap: 3%;
  align-items: center;
}

.large-counter-div, .medium-counter-div, .small-counter-div, .remaining-label {
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  font-size: 20px;
}

.remaining-label {
  color: white;
  text-align: center;
  padding-left: 3%;
}

.large-counter-div {
  box-sizing: border-box;
  overflow: hidden;
}

.medium-counter-div {
  overflow: hidden;
}

.small-counter-div {
  overflow: hidden;
}

.counter {
  height: 50px;
  aspect-ratio: 1/1;
  border: solid rgb(205, 187, 187) 3px;
  text-align: center;
  align-content: center;
}

.counter-label {
  position: relative;
  margin-top: 5px;
  width: 80%;
  height: auto;
  background-color: black ;
  border: solid rgb(205, 187, 187) 3px;
}

.add-item-div {
  grid-area: additem;
  justify-content: center;
  align-items: center;
}

.remove-item-div {
  grid-area: removeitem;
  justify-items: center;
}

.add-item {
  width: 150px;
  position: relative;
  height: 100%;
  background-color: black;
  border: solid rgb(205, 187, 187) 3px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.add-item:hover {
  cursor: pointer;
  background-color: rgba(9, 55, 9, 0.9);  
}

.add-item-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.remove-element-button {
  width: 100%;
  height: 100%;
  background-color: black;
  border: solid rgb(205, 187, 187) 3px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.remove-element-button:hover {
  cursor: pointer;
  background-color: rgba(99, 9, 9, 0.9);  
} 

.item-container {
  position: relative;
  padding: 10px;
  background-image: url(book_cover2.jpeg);
  background-size: 100% auto;
  background-repeat: repeat-y;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  width: 80vw;
  height: auto;
  max-height: 75vh;
  gap: 10px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item-container::-webkit-scrollbar {
  display:none;  
}

.slot-item {
  position: relative;
  border: 2px solid black;
  background-image: url("pager2.jpeg");
  background-position: top;
  background-size: 100% auto;
  background-repeat: repeat-y;
  height: fit-content;
  display: grid;
  grid-template-columns: 150px 1fr 5px 25px 25px 25px 5px;
  grid-template-rows: 15px 40px 20px 40px 20px 15px;
  grid-template-areas: 
  '. . .  . . . .'
  'picture itemname . .  . . .'
  'picture itemclass  . . . . .'
  'picture itemdesc . . . . .'
  'picture itemdesc . editbutton editbutton editbutton .'
  '. . . editbutton editbutton editbutton .';
  box-sizing: border-box;
}

.slot-item-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.item-picture{
  grid-area: picture;
  background-color: rgba(0,0,0,0.5);
  align-self: center;
  justify-self: center;
  height: 100%;
  aspect-ratio: 1/1;
  border: black 3px solid;
  box-sizing: border-box;
  z-index: 1;
}

.item-picture:hover{
  cursor: pointer;
  background-color: rgba(202, 200, 189, 0.5);  
}

.item-name{
  display: flex;
  grid-area: itemname;
  background-size: contain;
  align-self: flex-end; /*i want to bring this closer to the bottom*/
  height: 40px;
  font-size: xx-large;
  font-weight: 500;
  z-index: 1;
  border-bottom:  2px solid black;
}

.item-class{
  display: flex;
  grid-area: itemclass;
  align-self: flex-start;
  z-index: 1;
}

.item-desc{
  grid-area: itemdesc;
  display: flex;
  align-self: flex-start;
  height: 50px;
  z-index: 1;
}

.edit-button{
  grid-area: editbutton;
  z-index: 1;
  justify-self: center;
  width: 100%;
  align-self: center;
  height: 80%;
  border: black 2px solid;
  background-color: rgba(0,0,0,0.4);
}

.remove-checkbox{
  position: absolute;
  cursor: pointer;
  z-index: 2;

}

.remove-checkbox-label {
  position: absolute;
  top: 3px;
  right: 3px;
  aspect-ratio: 1/1;
  width: 20px;
  border: solid rgb(0,0,0) 1.5px;
  z-index: 3;
}

.remove-checkbox-span {
  position: absolute;
  aspect-ratio: 1/1;
  width: 20px;
  background-color: rgba(0,0,0,0.4);
  z-index: 3;
}

.remove-checkbox-span:hover {
  cursor: pointer;
  background-color: rgb(205, 187, 187, 0.3);
}

.remove-checkbox-label input:checked + .remove-checkbox-span {
  background-color: red;
}


.item-div {
  display: grid;
  grid-template-columns: 0.5fr 1fr 25px 1fr 25px 1fr 0.5fr;
  grid-template-rows: 15px 50px 150px repeat(3, 25px) 150px repeat(3, 25px) 2fr;
  grid-template-areas: 
  '. . . . . . .'
  '. . . helmet . . .'
  '. main-hand . helmet . off-hand .'
  '. main-hand . . . off-hand .'
  '. main-hand . armor . off-hand .'
  '. . . armor . . .'
  '. ranged-weapon . armor . backpack .'
  '. ranged-weapon . . .  backpack .'
  '. ranged-weapon . name . backpack .'
  '. . . . . . .'
  '. misc misc misc misc misc .';
  background-image: url("pager2.jpeg");
  background-size: 100% auto;
  background-repeat: repeat-y;
  border: black 3px solid;
  height: fit-content;
}

.equipment-slot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.7);
  border: double rgb(205, 187, 187) 3px;
  box-shadow: 0 0 10px rgba(205, 187, 187, 0.5);
  margin: 0;  
  color: white;
  position: relative;
}

.name-bar {
grid-area: name;
position: relative;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
height: 100%;
row-gap: 3;
background-color: rgba(0,0,0,0.7);
border: solid rgb(205, 187, 187) 3px;
border-radius: 3px;
}

.toggle-button {
  position: absolute;
  aspect-ratio: 1/1;
  align-self: flex-end;
  background-color: rgba(0,0,0,0.7);
  border: solid rgb(205, 187, 187) 2px; 
  border-radius: 3px;
  height: 15%;
  z-index: 2;
  object-fit: contain;
  pointer-events: auto;
} 

.toggle-button:hover {
  background-color: rgba(202, 200, 189, 0.5);
  cursor: pointer;
} 

.toggle-button-image{
  position: absolute;
  display: block;
  z-index: inherit;
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 0;
  top: 0;
}

.slot-overlay {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  pointer-events: none;
}

.slot-used {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  pointer-events: fill;
}

.slot-used-label {
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.equipment-slot-image {
  width: 100px;
  height: 100px;
  border: solid rgb(205, 187, 187) 3px;
  background-color: black;
}

.equipment-slot-image:hover {
  cursor: pointer;
  background-color: rgba(202, 200, 189, 0.5);
}


.armor-slot {
  grid-area: armor;
}

.helmet-slot {
  grid-area: helmet;
}

.main-hand-slot {
  grid-area: main-hand;
}

.off-hand-slot {
  grid-area: off-hand;
}

.ranged-weapon-slot {
  grid-area: ranged-weapon;
}

.backpack-slot {
  grid-area: backpack;
}

.misc-array-div {
  grid-area: misc;
  background-color: rgba(0,0,0,0.5);
  height: fit-content;
  padding: 10px;
  margin-bottom: 3%;
  border: double rgb(205, 187, 187)
}

.misc-array-container {
  background-color: rgba(0,0,0,0.5);
  border-left: double rgb(205, 187, 187);
  border-right: double rgb(205, 187, 187);
  padding: 10px;
  height: 15vh;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.misc-array-container::-webkit-scrollbar{
  display:none;
}

.misc-item-div {
  position: relative;
  height: 65px;
}

.misc-item{
  background-color: rgba(0,0,0,0.5);
  display: grid;
  grid-template-columns: 5px 50px 25px 1fr 10px 40px 5px;
  grid-template-rows: 5px 3fr 1fr 1fr 1fr 5px;
  grid-template-areas: 
  '. . . . . . .'
  '. image . name . . .'
  '. image . desc . . .'
  '. image . desc . edit .'
  '. image . desc . edit .'
  '. . . . . . . ';
  object-fit: contain;  
  border-bottom: outset rgb(205, 187, 187);
  border-width: 3px;
}

.misc-image-tab {
  grid-area: image;
  aspect-ratio: 1/1;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  object-fit: contain ;
  box-sizing: border-box;
  border: 1px solid black;
}

.misc-image-tab:hover {
  cursor: pointer;
  background-color: rgba(202, 200, 189, 0.5);  
}

.misc-name {
  grid-area: name;
  display: flex;
  align-self: center;
  border-bottom: solid rgb(205, 187, 187) 1px;
  height: 24px;
}

.misc-description{
  grid-area: desc;
  font-size: small;
  display: flex;
  align-self: center;
}

.misc-item-edit{
  grid-area: edit;
  border: solid rgb(205, 187, 187) 2px;
  background-color: rgba(0,0,0,0.4);
}

.misc-item-edit:hover{
  cursor: pointer;
}

.misc-utils {
  height: inherit;
  display: grid;
  grid-template-rows: 5px 1fr 1fr 5px;
  grid-template-columns: 10px 1fr 10px 1fr 10px;
  grid-template-areas:
  '. . . . .'
  '. add . remove .'
  '. add . remove .'
  '. . . . .';

}

.misc-delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  aspect-ratio: 1/1;
  background-color: rgba(0,0,0,0.4);
  border: solid rgb(205, 187, 187) 1px;
  width: 2%;
}

.add-misc {
  grid-area: add
}

.remove-misc {
  grid-area: remove
}

.add-misc-content {
  background-color: rgba(0,0,0,0.8);
  border: solid rgb(205, 187, 187) 3px;
  border-radius: 3px;
  width: 70%;
  height: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 5px 250px 10px 1fr 5px;
  grid-template-rows: 10px 1fr 1fr 30px 10px;
  grid-template-areas:
  '. . . . .'
  '. itemImage . itemName  .'
  '. itemImage . itemDescription  .'
  '. . . . .'
  '. . . . .';
}

#addMiscLabel {
  margin-top: -1.5%;
  margin-bottom: 1.5%;
}

.misc-item-name-div {
  grid-area: itemName;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 25%;
}

.misc-item-description-div {
  grid-area: itemDescription;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 25%;
}

#saveMisc {
  position: absolute;
  right: 5px;
  top: 5px;
}

.misc-item-image-div {
  grid-area: itemImage;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100%;
}

.add-misc-item-image {
  display: flex;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}


.inventory-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  height: fit-content;
  padding: 10px;
}





.settings-menu {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(42, 36, 36, 1);
  border: solid black 5px;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Could be more or less, depending on screen size */
  min-width: 500px;

  height: 40vh;
}

.close-settings {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: black;
  color: white;
  border: solid rgb(205, 187, 187) 3px;
  width: 30px;
  height: 30px;
}

.close-settings:hover {
  cursor: pointer;
  background-color: rgba(202, 200, 189, 0.5);
}

.options-label {
  height: fit-content;
  width: 100%;
  margin-bottom: 3%;
}

.options-button-div {
  width: 300px;
  margin-bottom: 5%;
  background-color: rgb(117, 87, 11);
}

.options-button {
  display: flex;
  position: relative;
  height: fit-content;
  border: 2px rgb(205, 187, 187) solid;
  background-color: black;
  height: 75px;
  width: 100%;
}

.option-button-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.options-button:hover {
  background-color: rgba(202, 200, 189, 0.3);
  cursor: pointer;
}

.settings-button-div {
  width: 50px;
  aspect-ratio: 1/1;
  position: absolute;
  left: 10px;
  top: 5px;
}

.settings-button-label {
  height: 100%;
  width: 100%;
  position: absolute;
  aspect-ratio: 1/1;
}

.settings-button-label:hover {
  background-color: rgba(202, 200, 189, 0.3);
  cursor: pointer;
}

.settings-button {
  display: none;
}

.body-formatting {
  flex-direction: column;
  display: flex;
  justify-self: center;
  justify-items: center;
  margin-top: 20px;
}

.icon-grid {
  z-index: 2;
  display: grid;
  background-color: rgba(42, 36, 36, 1);
  border: solid black 5px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%; /* Could be more or less, depending on screen size */
  min-width: 500px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 50vh;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  'select icons'
  'select icons';
}

.icon-grid::-webkit-scrollbar {
  display:none;  
}


.icon-nav-bar {
  grid-area: select;
  display: flex;
  flex-direction: column;
  background-color: black;
  border-right: 3px black solid;
  overflow-y: scroll;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.icon-nav-bar::-webkit-scrollbar {
  display:none;  
}

.icon-nav-bar button {
  flex: 0 0 auto;
  height: 50px;
  cursor: pointer;
  background-image: url("pager.jpeg");
  background-size: contain;
  background-color: rgba(0,0,0,0.4);
  font-size: large;
  font-weight: 500;
  width: 100%;
  border: 1px black solid;
}

.icon-nav-bar button:hover {
  width: 90%;
}

.item-icon {
  aspect-ratio: 1/1;
  width: 64px !important;
}

.item-icon:hover {
  background-color: rgb(205, 187, 187, 0.3);
  cursor: pointer;
}

.icon-category-div {
  grid-area: icons;
  display: flex;
  justify-content: center;
  background-color: rgba(118, 99, 99, 0.697);
}

.icon-category-div::-webkit-scrollbar {
  display:none;  
}

.icon-category-container {
  display: block;
  width: 100%;
  overflow-y: auto;
}



.tabcontent {
  display: none;
}
